@font-face {
font-family: 'BoonHome'; 
src: url('../fonts/boonhome-400.eot'); 
src: url('../fonts/boonhome-400.eot?#iefix') format('embedded-opentype'), 
url('../fonts/boonhome-400.woff2') format('woff2'), 
url('../fonts/boonhome-400.woff') format('woff'), 
url('../fonts/boonhome-400.ttf') format('truetype'),
url('../fonts/boonhome-400.svg#boonhome-400') format('svg'); 
font-weight: normal;
font-style: normal; 
}
